.small-calendar {
    display: flex;
    flex-direction: column;
}

.small-calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header-small-calendar {
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.small-calendar-button-sideways {
    color: white;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    height: 50%;
    border-radius: 5px;
}

.small-calendar-array {
    display: grid;
    height: 660px;
    width: 770px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.text-day-small-calendar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: center;
}

.text-small-calendar-button {
    font-size: small;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.small-calendar-button- {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(220, 216, 216, 0.8);
}

.small-calendar-button-other {
    width: 100%;
    background-color: gray;
    border: 1px solid rgba(220, 216, 216, 0.8);
}

.small-calendar-day {
    text-align: center;
    display: inline-block;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 7px;
}

.small-calendar-button-current {
    width: 100%;
    background-color: #7e9dec;
    border: 1px solid rgba(220, 216, 216, 0.8);
}
