.calendar-header {
    padding: 2px 4px;
    margin: auto;
    align-items: center;
    display: flex;
}

.calendar-logo {
    margin-right: 4px;
    width: 12px;
    height: 20px;
}

.calendar-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: xx-large;
    color: gray;
    font-weight: 700;
}

.calendar-change-sth-button {
    /*text-align: center;*/
    /*background-color: blueviolet;*/
    /*color: white;*/
    /*border-radius: 4px;*/
    /*padding: 2px 4px;*/
    /*margin-right: 5px;*/
    background-color: blueviolet;
    /*border: none;*/
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 7px;


}

.calendar-cursor-pointer-left {
    color: blueviolet;
    border-radius: 7px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
}

.calendar-cursor-pointer-right {
    color: blueviolet;
    border-radius: 7px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
}

.calendar-header-month-year {
    margin-left: 8px;
    font-size: x-large;
    font-weight: 700;
    color: gray;
}