.small-calendar {
    display: flex;
    flex-direction: column;
}

.small-calendar-h1 {
    /*width: 100%;*/
    width: 770px;
    margin: auto;
}

.l1 {
    width: 25%;
    height: 1px;
    float: left;
}

.text-header-small-calendar {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.l2 {
    width: 25%;
    float: left;
    text-align: right;
}


.text-header-small-calendar {
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
    margin: 0;
    width: 50%;
}

.small-calendar-button {
    float: right;
    color: white;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.small-calendar-elems {
    display: flex;
    align-items: center;
}

.small-calendar-array {
    display: grid;
    height: 660px;
    width: 770px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.text-day-small-calendar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: center;
}

.text-small-calendar-button {
    font-size: small;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.small-calendar-button- {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(220, 216, 216, 0.8);
    display: grid;
}

.small-calendar-button-other {
    width: 100%;
    background-color: #d2d0d0;
    border: 1px solid rgba(220, 216, 216, 0.8);
    display: grid;
}

.small-calendar-day {
    text-align: center;
    display: inline-block;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 7px;
}

.small-calendar-button-current {
    width: 100%;
    height: 90%;
    background-color: #7e9dec;
    border: 1px solid rgba(220, 216, 216, 0.8);
    display: grid;
}

.event-elems {
    width: 100%;
    background-color: #7e9dec;
    border: 1px solid rgba(220, 216, 216, 0.8);
}

.small-calendar-reset-button {
    color: #144fff;
    font-size: medium;

}

.small-calendar-button {
    float: right;
    color: white;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.small-calendar-cursor-pointer-left {
    /*padding: 0;*/
    border: none;
    background-size: 65%;
    color: white;
    background-color: white;
    width: 50px;
    height: 55px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    background-image: url("chevron-left.svg");
    background-repeat: no-repeat;
}

.small-calendar-cursor-pointer-right {
    margin-left: 15px;
    padding: 0;
    border: none;
    background-size: 65%;
    color: white;
    background-color: white;
    width: 50px;
    height: 55px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    background-image: url("chevron-right.svg");
    background-repeat: no-repeat;
}
