.calendar-header {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.calendar-header-icon {
    margin-right: 4px;
    width: 60px;
    height: 60px;
}

.calendar-header-title {
    margin: 5px 0 0 15px;
    font-size: 3rem;
    color: #888888;
    font-weight: 700;
}