.calendar-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
    gap: 30px;
}

.calendar-header-icon {
    margin-right: 4px;
    width: 60px;
    height: 60px;
}

.calendar-header-title {
    margin: 0 0 0 15px;
    padding-bottom: 0;
    font-size: 3rem;
    color: #888888;
    font-weight: 700;
}

.calendar-members-button {
    border: none;
    background: transparent;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-bottom: -5px;
}