.border {
    text-align: center;
}

.day-col {
    text-align: center;
    width: 80px;
    /*/ZMIANA SZEROKOŚCI DNI W KALENDARZU\*/
}

.day {
    text-align: center;
    margin-top: 1px;
}

.text-day {
    text-align: center;
    padding: 1px;
    margin: 1px;
}

.text-day-current {
    text-align: center;
    background-color: #7e9dec;
    border-radius: 20px;
    color: black;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: auto;
    width: 30px;
}