.flex-1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    position: fixed;
    /*width: 90%;*/
    /*height: 90%;*/
    /*left: 100px;*/
    /*top: 30px;*/
    text-align: center;
}

.flex-1-day {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(197, 197, 197, 0.8);
    padding: 40px;
    font-size: 20px;
    text-align: center;
}