.small-calendar {
    margin-top: 20px;
    margin-right: 25px;
    /*padding-top: 9px;*/
}

.small-calendar-header {
    display: flex;
    /*height: 2000%;*/
}

.text-header-small-calendar {
    color: gray;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}

.small-calendar-button-sideways {
    color: white;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    height: 50%;
}

.small-calendar-cursor-pointer-left {
    color: deeppink;
    font-size: medium;
    /*margin-left: 2px;*/
}

.small-calendar-cursor-pointer-right {
    color: deeppink;
    font-size: medium;
    /*margin-right: 2px;*/
}

.small-calendar-array {
    display: grid;
    /*color: white;*/
    /*background-color: white;*/
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.text-small-calendar-button {
    font-size: small;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.small-calendar-button {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(220, 216, 216, 0.8);
}

.small-calendar-day {
    /*color: white;*/
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 7px;
}