.friend-request {
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #cccccc;
}

.calendars-request-name {
    margin: 0;
    width: 100%;
    text-align: center;
}

.calendars-request-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.calendars-request-button {
    width: 100px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #dfdfdf;
}

.calendars-request-button:hover {
    background-color: #cacaca;
}

.searching-friends-input {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #e5e5e5;
    font-size: 15px;
}

.searching-friends-container {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 15px 0;
    padding: 0 10% 0 10%;
}

.searching-friends-button {
    border: none;
    background-color: white;
}