.friend-request {
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #cccccc;
}

.calendars-request-name {
    margin: 0;
    width: 100%;
    text-align: center;
}

.calendars-request-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.calendars-request-button {
    width: 100px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;;
    background-color: #dfdfdf;
}

.calendars-request-button:hover {
    background-color: #cacaca;
}