.navbar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97.8vh;
    width: 66px;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    margin: -8px 0 -8px -8px;
}

.logo {
    width: 40px;
    height: 40px;
    border: 4px solid black;
    border-radius: 30px;
    margin-bottom: 25px;
}

.logout-button {
    margin-top: auto;
    margin-bottom: 50px;
}

.nested-sidebar {
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97.8vh;
    width: 260px;
    padding-top: 20px;
    margin: -8px 0 -8px 0;
}

.nested-sidebar-title {
    font-size: 2rem;
    margin: 0 0 20px 0;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.friend-profile-picture {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 15px;
}

.nested-sidebar-button {
    background-color: #ffffff;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 90%;
    height: 42px;
}

.nested-sidebar-link {
    width: 100%;
    height: 90%;
    font-size: 1rem;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding-left: 6px;
}

.nested-sidebar-button:hover {
    background-color: #efefef;
}

.nested-sidebar-button:active {
    background-color: #dedede;
}

.nested-sidebar-list-calendar {
    height: 85%;
    width: 80%;
}

.action-btn-calendar {
    height: 15%;
    width: 80%;
    justify-content: center;
    text-align: center;
}

.action-btn-calendar .button {
    margin: 10px;
    border: none;
    background-color: #16a816;
    width: auto;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

.action-btn-calendar .button:hover {
    background-color: #1fbb1f;
    cursor: pointer;
    transition: 0.25s;
}

.trash-bin-icon {
    width: 80%;
    height: 80%;
    margin: auto;
    cursor: pointer;
}

.trash-bin-icon:hover {
    fill: red;
    filter: invert(25%) sepia(83%) saturate(3594%) hue-rotate(347deg) brightness(103%) contrast(97%);
    transition: 0.25s;
}

.nested-sidebar-button {
    width: 80%;
}

.nested-sidebar-button.selected {
    width: 80%;
}

.calendar-nav-elem {
    width: 100%;
    display: flex;
}

.calendar-nav-elem-remove {
    width: 20%;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    background-color: white;
}


.popup-remove-calendar {
    width: auto;
    height: auto;
}