.navbar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97.8vh;
    width: 66px;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    margin: -8px 0 -8px -8px;
}

.logo {
    width: 40px;
    height: 40px;
    border: 4px solid black;
    border-radius: 30px;
    margin-bottom: 25px;
}

.logout-button {
    margin-top: auto;
    margin-bottom: 50px;
}

.nested-sidebar {
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97.8vh;
    width: 260px;
    padding-top: 20px;
    margin: -8px 0 -8px 0;
}

.nested-sidebar-title {
    font-size: 2rem;
    margin: 0 0 20px 0;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.nested-sidebar-sec-title {
    font-size: 1rem;
    width: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.friend-profile-picture {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 15px;
}

.nested-sidebar-button {
    background-color: #ffffff;
    border: 0;
    display: flex;
    width: 95%;
    height: 42px;
}

.nested-sidebar-link {
    width: 100%;
    height: 90%;
    font-size: 1rem;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 14px;
}

.nested-sidebar-button:hover {
    background-color: #efefef;
}

.nested-sidebar-button:active {
    background-color: #dedede;
}


.nested-sidebar-button.selected {
    background-color: #efefef;
}

.nested-sidebar-list-calendar {
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.action-btn-calendar {
    height: fit-content;
    width: fit-content;
}

.action-btn-calendar button {
    background: transparent;
    border: none;
    font-size: 3rem;
}

.action-btn-calendar button:hover {
    color: #777777;
    cursor: pointer;
    transition: 0.25s;
}

.trash-bin-icon {
    width: 26px;
    height: 26px;
    margin: auto;
    cursor: pointer;
}

.trash-bin-icon:hover {
    fill: red;
    filter: invert(25%) sepia(83%) saturate(3594%) hue-rotate(347deg) brightness(103%) contrast(97%);
    transition: 0.25s;
}

.calendar-nav-elem {
    width: 100%;
    display: flex;
}

.calendar-nav-elem-remove {
    height: 100%;
    border: none;
    background: transparent;
}


.popup-remove-calendar {
    width: auto;
    height: auto;
}